.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.match{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  margin: 10px;
}

.teams{
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}